<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/pages.css}" rel="stylesheet">
<link th:href="@{/css/main.css}" rel="stylesheet">
<link th:href="@{/css/navbar.css}" rel="stylesheet">
<link th:href="@{http://fonts.googleapis.com/css?family=Poppins}"
	rel='stylesheet' type='text/css' />
<style>
body {
	font-family: 'Poppins', serif;
	font-size: 11pt;
}
</style>
<title>Aggiungi certificazione</title>
</head>
<body>
	<header th:replace="fragments/base.html :: navbar"></header>
	<div class="page-content container-fluid">

		<div class="row" style="height: 100%">

			<div class="col-3 left-side-container">
				<h4 class="form-title">Aggiungi una nuova certificazione al
					catalogo</h4>
			</div>

			<div class="col-9 right-side-container">

				<form th:action="@{/admin/addCertification}" method="POST"
					th:object="${certification}" class="w-100">

					<div th:if="${#fields.hasGlobalErrors()}">
						 
						<p class="error-text" th:each="err : ${#fields.globalErrors()}"
							th:text="${err}">...</p>
					</div>

					<div class="form-field">
						<label class="form-label">Nome </label>
						<div>
							<input type="text" th:field="*{name}" class="w-50" />
						</div>
						<span class="error-text" th:if="${#fields.hasErrors('name')}"
							th:errors="*{name}"> </span>
					</div>

					<div class="form-field">
						<label class="form-label">Descrizione </label>
						<div>
							<input type="text" th:field="*{description}" class="w-50" />
						</div>
						<span class="error-text"
							th:if="${#fields.hasErrors('description')}"
							th:errors="*{description}"></span>
					</div>

					<div class="form-field">
						<label class="form-label">Livello </label>
						<div>
							<input type="text" th:field="*{level}" class="w-50" />
						</div>
						<span class="error-text" th:if="${#fields.hasErrors('level')}"
							th:errors="*{level}"></span>
					</div>

					<div class="form-field">
						<label class="form-label">Prezzo </label>
						<div>
							<input type="number" th:field="*{price}" class="w-50" />
						</div>
						<span class="error-text" th:if="${#fields.hasErrors('price')}"
							th:errors="*{price}"></span>
					</div>

					<div>
						<span><button type="submit">Salva</button></span>
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>